<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Home - Pixel Ninja</title>
    </head>
    <body class="home">
        <h1>Pixel Ninja</h1>
        <input autocomplete="off" class="menu-item" name="username" id="username-input" placeholder="Naam" type="text" maxlength="10" />
        <form class="menu-item" autocomplete="off" action="/join-room" method="POST">
            <input name="roomId" required id="room-id" placeholder="Room ID" type="number" min="1000" max="9999" />
            <button type="submit">Neem deel</button>
        </form>
        <a class="menu-item" href="/room/<%= Math.floor(Math.random() * (9999 - 1000) + 1000) %>">Maak nieuwe room aan</a>
        <script src="/js/index.js"></script>
    </body>
</html>
